.btn{
  @include _btn('normal');
}

.main-btn{
  @include mq('md'){
  font-size: rem(16);
  }
}

//ブロック間余白
.whitespace-news-content{
  height:rem(100);

  @include mq('md'){
    height:rem(145);
  }
}
.whitespace-content-works{
  height:rem(70);

  @include mq('md'){
    height:rem(145);
  }
}
.whitespace-works-overview{
  height:rem(71);

  @include mq('md'){
    height:rem(138);
  }
}
.whitespace-overview-blog{
  height:rem(66);

  @include mq('md'){
    height:rem(154);
  }
}
.whitespace-blog-contact{
  height:rem(120);

  @include mq('md'){
    height:rem(149);
  }
}


//見出し
.title-right{
	margin-bottom: rem(47);
  text-align:center;

  @include mq('md'){
  text-align:right;
  margin-bottom: rem(44);
  }
}

.title-left{
	margin-bottom: rem(47);
  text-align:center;

  @include mq('md'){
    text-align:left;

  }
}


.title{
	font-size: rem(20);
  font-weight: $regular;
  letter-spacing:rem(2);
  text-align: center;
  margin-top:rem(-25);

  @include mq('md'){
    margin-bottom:rem(48);
    font-size: rem(30);
    line-height: rem(15.8);
    letter-spacing: rem(0.5);
    margin-top:rem(-95);
  }
}


.english-title {
	color: $dark-yellow;
  opacity: 0.2;
	font-size: rem(50);
	font-family: $second-font-family;
  font-weight: $regular;
  text-align: center;
  letter-spacing: rem(2);

  @include mq('md'){
    font-size: rem(110);
  }
}


//見出しここまで

.main-flex{
  display: flex;
  flex-direction: column;

  @include mq('md'){
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: rem(80) 0;
  

  @media (max-width:$inner){
    margin:0 rem(25);
    }
  }
}

.main-texts{
  text-align: center;
  letter-spacing: rem(2);
  
  @include mq('md'){
    text-align: left;
    letter-spacing: rem(0.5);
  }
}

.main-texts__title{
  font-size: rem(20);

  @include mq('md'){
    font-size: rem(25);
    line-height:rem(15.8);
  }
}

.main-texts__text{
  padding: rem(22) 0 rem(20) 0;

  @include mq('md'){
    line-height: rem(35);
    padding: rem(48) 0;
  }

}

.center-btn{
  text-align: center;
}

